// Place all the styles related to the shortcuts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 5px;
  margin-bottom: 16px;

  .error {
    display: contents;

    .attribute { padding: 4px; }
    .message { padding: 4px; }
  }
}

form {
  margin-top: 16px;
}
